body {
  background-color: #efefef;
}

.App {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin: 2rem auto 0;
  max-width: 600px;
  padding: 2rem;
}

form {
  background-color: #ededed;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 1rem;
}

form h2 {
  flex-basis: 100%;
  margin: 0 0 1rem;
}

.form-input {
  display: flex;
  flex-direction: column;
  width: 48%;
}

.form-input label {
  font-size: 14px;
}

.form-input input {
  width: 100%;
}

form button {
  background-color: coral;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  flex-basis: 100%;
  margin: 1rem 0 4px;
  padding: 4px 0;
}

.crosshair-box {
  width: 70px;
  background-color: aliceblue;
  padding: 4px 8px;
  color: #222;
  border-radius: 10px;
  border: 1px solid #acb3b9;
  font-weight: bold;
  text-align: center;
}

.crosshair-box p {
  margin: 0;
}